
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://static.fontawesome.com/css/fontawesome-app.css");
@import url("https://pro.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://codepen.io/z-/pen/a8e37caf2a04602ea5815e5acedab458.scss?theme");
@import url("https://pro.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.body{
  
}
.header{
position: fixed;
right: 0;
top: 0;
z-index: 1000;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 33px 9%;
background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #e15611;
}
#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(245.59deg, #f49b2f 0%, #c27023 28.53%, #712210 75.52%);  */
    background-image: url(https://i.pinimg.com/564x/88/87/3d/88873d052d59ebfcef675301ba1bc820.jpg);
    background-repeat: no-repeat
    ;background-size: 100% 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h4{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Permanent Market', cursive;
    font-size: 80px;
    line-height:1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text a{
    height: 40px;
margin-left: 10px;
    display: inline-block;
    color: white;
    background-color: #e15611;
    border: 2px solid transparent;
    padding: 12 30px ;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 200;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color:#e15611 ;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background:#e15611 ;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
.main-one {
    background: black;
}
.main-one-title {
  padding-top: 100px;
    display: flex;
align-items: center;
margin-left:310px;
}
.main-one-title h3{
    font-family: 'Permanent Market', cursive;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color:#e15611;
}
.main-one-title a{
    color:#e15611 ;
}
.pricing{
    font-family: 'Permanent Market', cursive;
font-size: 40px ;
 margin-left: 220px;
 margin-top: 15px;
 margin-bottom: 15px;
 color: white;
}
.pricing-one{
    font-family: 'Permanent Market', cursive;
font-size: 13px ;
 margin-left: 100px;
 margin-top: 15px;
 margin-bottom: 15px;
 color: white;
}
.main-two{
    background: black;
    margin-top: -15px;
    padding-top: 40px;
}
  
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    background-color: black;
  }
  
  .container .card {
    position: relative;
    width: 300px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    margin-left:  10px; ;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .container .card .imgBx {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.2);
  }
  
  .container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .card .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .container .card .contentBx span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
  }
  
  .container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
  }
  
  .container .card:hover .sci li {
    transform: translateY(20px);
    opacity: 1;
  }
  
  .container .card .sci a {
    color: #fff;
    font-size: 24px;
  }
  .main-three {
    background: black;
    width: 100%;
padding-top: 100px;
}
.main-three-box {
    display: flex;
margin-left: 60px;
}
.trainer-one h1{
    color: #e15611;
    margin-top: 12px;
    margin-bottom: 15px;
}
.ri-basketball-fill {
}
.photo-one{

    width: 520px;
    height: 400px;
background-image: url(https://i.pinimg.com/564x/7e/3a/d1/7e3ad171531ea12e52ac202e0374b333.jpg);
height: 700px;
border-radius: 10px;
}

.trainer-one-mini{
    display: flex;
    align-items: center;
}
.trainer-one-mini h3{
    color: rgb(187, 183, 183);
    font-size: 13px;
    width: 300px;
    font-family: 'Permanent Market', cursive;

}
.trainer-one-mini a{
    color: #e15611;
    font-size: 50px;
    margin-right: 30px;
}
.main-four {
    width:100%;

background-color: black;
}
.pratsent {
display: flex;
justify-content: space-between;
padding-top: 100px;

}
.pratsent-one {

    color: white;
    font-size: 30px;
    margin-left: 60px;
}
.pratsent-one p{
    margin-left: -50px;
    margin-top: 20px;
}
.pratsent-one h1{
    color: #e15611;

}
.ri-menu-unfold-2-line {
}
.about-teachers {
    margin-top: 20px;
    color: white;
    font-family: 'Permanent Market', cursive;
margin-left: 200px;
font-size: 30px;
}
.about-teachers-p {
    margin-top: 15px;
    color: white;
    font-family: 'Permanent Market', cursive;
}




.main-four-title{
    display: flex;
    font-family: 'Permanent Market', cursive;
    font-size: 20px;
    margin-top: 160px;
    margin-left: 350px;
    margin-right: 10px;
    color:#e15611;
}
.main-four a{
    color:#e15611 ;
    margin-left: 10px;
    margin-right: 10px;
}
.main-five{
    padding-top: 100px;
    background-color: black;
}
:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
}

body #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  animation: slide 3s ease-out forwards;
}
@keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
body #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
body #user-button .u-main {
  cursor: pointer;
  --user-button-background:var(--user-button-main, #EC87C0);
}
body #user-button .u-main img {
  height: 100%;
  width: 100%;
}
body #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
body #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
body #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
body #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"] {
  position: relative;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"]:before {
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"].show:before {
  opacity: 1;
  transition: 0.25s ease-out;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"] div {
  color: #1da1f2;
}
body #user-button .u-icons a[href="https://codepen.io/z-"] div {
  background: black;
  color: white;
}
body #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  animation: diespin 2s linear infinite;
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #user-button .u-icons a.u-random:not(:hover) div {
  animation-play-state: paused;
}
body #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
body #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #user-button .u-icons > *:hover, body #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
body #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3), body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4), body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
body #user-button:hover .u-icons, body #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

.body-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}
body.dark {
  background: #232223;
  color: white;
}
@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background: #232223;
    color: white;
  }
}
body .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
body .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  body .options {
    min-width: 520px;
  }
  body .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  body .options {
    min-width: 440px;
  }
  body .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  body .options {
    min-width: 360px;
  }
  body .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  body .options {
    min-width: 280px;
  }
  body .options .option:nth-child(2) {
    display: none;
  }
}
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
body .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
body .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
body .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
body .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
body .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
body .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
body .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
body .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
body .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
body .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
body .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
body .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
body .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
body .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
body .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
body .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
body .options .option .label .info .sub {
  transition-delay: 0.1s;
}
.ring {
    margin-left: 170px;
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  }
  .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  .ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  .ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  .ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .login h2 {
    font-size: 2em;
    color: #fff;
  }
  .login .inputBx {
    position: relative;
    width: 100%;
  }
  .login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  .login .inputBx input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
  }
  .login .inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .login .links a {
    color: #fff;
    text-decoration: none;
  }
  .main-six{
 
    background-color: black;
padding-top: 100px;
  }  
  .main-seven{

  }
.main-seven-box {
    padding-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: black;
 

    height: 400px;
}
.main-seven-box img {
   width: 300px;
   height: 350px;
}
.footer {
    padding-top: 100px;
    width: 100%;
    background-color: black;
    padding-left: 150px;
}
.foot {
    display: flex;
    
}
.foot-box{
    margin-left: 150px;
}
.foot-box h1{
    color: white;
    font-size: 20px;
}
.foot-box p{
    color: rgb(88, 85, 85);
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.icons-foot {
    display: flex;
   
}
.ri-instagram-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
   
}
.ri-telegram-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
}
.ri-youtube-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
}
.foot-cro{
    color: rgb(88, 85, 85);

}
.foot-question {
    display: flex;
    align-items: center;
   
}
.ri-map-pin-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
}
.ri-whatsapp-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
}
.ri-mail-fill {
    color: white;
    
    font-size: 30px;
    margin-right: 30px;
}